@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,900;1,400&family=Oswald:wght@500&display=swap');

:root{
    --beige:#F5F5DC;
    --chocolate:#835C3B;
    --babybrown:#C4A484;
    --white:#fff;
    --black: #060606;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --white-color: #fff;
    --dark-bg: #121212;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
 }

 a.select {
   color: white;
   background: var(--babybrown);
}

section {
   padding-top: 30px;
   padding-bottom: 30px;
}


/*HEADER*/
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:var(--beige);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
 }

 header .cr2s{
    height: 5rem;
    width: 10rem;
    margin: 0;
    padding: 0;
    display: flex;
 }

 header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
 }

 header .logo i{
    color: var(--chocolate);
 }

 header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--black);
 }

 header .navbar a.active,
 header .navbar a:hover{
    color: #fff;
    background: var(--babybrown);
 }
/*HOME*/

.container1 img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.description1 {
   width: screen;
   height: 50vh;
   text-align: center;
   padding: 10% 20% 0 20%; 
   position: absolute;
   color: #d5a575;
   text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        -7px 1px 0 black;
   font-size: 65px;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--black);
    background: var(--chocolate);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--babybrown);
    letter-spacing: .1rem;
} 

/*FEATURED*/
.small-container{
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
}

.col-4{
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
   transition: transform 0.5s;
}

.col-4 img{
   padding-top: 10px;
   width: 100%;
}

.row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

.title{
   text-align: center;
   position: relative;
   line-height: 60px;
   color: #555;
   font-size: 30px;
}
.title::after{
   content: '';
   background: #C4A484;
   width: 200px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}
h4{
   color: #555;
   font-weight: normal;
   font-size: 15px;
}
.col-4 p{
   font-size: 14px;
}
.rating .fa{
   color: #C4A484;
}
.col-4:hover{
   transform:translateY(-10px);
}

/*MENU*/

.simple-container{
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 80px;
}

.title2{
   text-align: center;
   position: relative;
   line-height: 60px;
   color: #555;
   font-size: 30px;
}
.title2::after{
   content: '';
   background: #C4A484;
   width: 100px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.othercontainer{
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 60px;
}

.title3{
   text-align: center;
   position: relative;
   line-height: 60px;
   color: #555;
   font-size: 30px;
}
.title3::after{
   content: '';
   background: #C4A484;
   width: 230px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.icecream-container{
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 25px;
}

/*ABOUT US*/

.about {
   width: 186vh;
    height: 100vh;
    font-size: 18px;
    text-align: center;  
    padding: 7% 5% 0 5%; 
    position: relative;
}

.title5{
   text-align: center;
   position: relative;
   line-height: 60px;
   color: #555;
   font-size: 30px;
}
.title5::after{
   content: '';
   background: #C4A484;
   width: 100px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

/*FOOTER*/

footer {
   background-color:#C4A484;
   color: var(--white-color);
   padding: 7rem 0 5rem;
   position: relative;
   text-align: center;
}

.back-to-top {
   background-color: var(--dark-bg);
   border-radius: 50%;
   position: absolute;
   top: -3rem;
   left: 50%;
   width: 7rem;
   height: 7rem;
   transform: translateX(-50%);
}

.back-to-top i {
   display: block;
   color: var(--white-color);
   font-size: 2rem;
   padding: 2rem;
   animation-name: showsUp;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.footer__content {
   overflow: hidden;
}

.footer__content h4 {
   font-size: 1.9rem;
   font-weight: 100;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin-bottom: 3rem;

}

.footer__content-about {
   margin-bottom: 5.4rem;
}

.footer__content-about p {
   line-height: 1.8;
}

.footer__content {
   max-width: 77.5rem;
   margin: auto;
}

.footer__content-about {
   max-width: 51.3rem;
   margin: 0 auto 5.4rem;
}

.footer__content-divider {
   display: flex;
   justify-content: space-between;
}

.social-icons {
   margin-bottom: 5.4rem;
   display: flex;
   justify-content: center;
}

.social-icons i {
   font-size: 2rem;
   color: black;
   padding: .8rem 2rem;
   opacity: .5;
   transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
   color: black;
}

.newsletter-form {
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
}

.newsletter-input {
   width: 100%;
   max-width: 25rem;
   padding: 1rem;
   border: none;
   outline: none;
}

.newsletter-btn {
   background: transparent;
   border: none;
   cursor: pointer;
   color: var(--main-font-color-dark);
   font-size: 1.6rem;
   padding: 1px .6rem;
   outline: none;
}

.newsletter-form-box {
   background-color: var(--white-color);
   border-radius: .4rem;
   display: flex;
   overflow-x: hidden;
}

h3 {
   line-height: 60px;
   color: black;
   font-size: 30px;
}

p {
   color: black;
   font-size: 15px;
}