<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
      <header>
        <img src="../img/logo.png" class="logo" alt="Logo">
          <nav class="navbar">
              <a href="index.html"><strong>Home</strong></a>
              <a href="../pages/cakes.html"><strong>Cakes</strong></a>
              <a href="../pages/addToCart.html"><strong>Order</strong></a>
              <a href="../pages/aboutUs.html"><strong>About Us</strong></a>
              <a href="#Order" class="fas fa-shopping-cart"></a>
          </nav>
      </header>
    </body>
</html>