    <header>
      <img src="../img/cr2s.png" class="cr2s"><i class="fas fa-cake logo"></a></i>

          <nav class="navbar">
              <a href="index.html">Home</a>
              <a href="../pages/Cakes.html">Cakes</a>
              <a href="../pages/AddToCart.html">Order</a>
              <a href="Contact.html">Contact</a>
              <a href="../About Us.html">About</a>
          </nav>
      
          <div class="icons">
              <i class="fas fa-bars" id="menu-bars"></i>
              <i class="fas fa-search" id="search-icon"></i>
              <a href="#" class="fas fa-heart"></a>
              <a href="#Order" class="fas fa-shopping-cart" id="cart-icon"></a>
          </div>
  </header>